---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import LearningSection from "../components/LearningSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Portafolio Profesional">
  <div class="min-h-screen bg-background">
    <Header />
    <main>
      <HeroSection />
      <ExperienceSection />
      <ProjectsSection />
      <SkillsSection />

      <LearningSection />
      <ContactSection />
    </main>
  </div>
</Layout>

<style></style>
