<a
  href="/cv/JayCV-new.pdf"
  download
  class="border-[1.78px] border-border bg-background hover:bg-accent/30 hover:border-accent/10 hover:text-accent-foreground inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-11 px-8 button-download relative"
>
  {/* SVG para el icono de Download */}
  <svg
    class="mr-2 h-4 w-4"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
      points="7 10 12 15 17 10"></polyline><line x1="12" x2="12" y1="15" y2="3"
    ></line></svg
  >
  Descargar CV
</a>
